@tailwind base;
@tailwind components;
@tailwind utilities;

#img-fundo{
  background-image: url('../../public/fundo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#scroll-list::-webkit-scrollbar{
  /* display:; */
  width: 8px;
  background-color: #0a0a0a;
  border-radius: 0px 10px 10px 0px;
}

#scroll-list::-webkit-scrollbar-thumb{
  background-color: #404040;
  border: 3px solid #0a0a0a;
  border-radius: 10px;
}